.DS_Store
.idea/*
*/.venv/*
app_api/.idea/*
app_web/.idea/*
.env
.env_app_common.json
.env_app_web.json
.env_app_api.json
.env_app_api_apps.json
.env_app_api_apps_ai.json

*.log
*.pot
*.pyc
__pycache__/
__pycache__/*
*/__pycache__/*
media
media/*
logs/web/*
logs/celery/*
logs/nginx/*

static_collect/*
api_error_path.log
celerybeat-schedule
debug.log

.venv
website/*

.terraform/
terraform.tfstate
terraform.tfstate.backup

*/staticfiles/*

*/node_modules/*
*/build/*

*/ignored_ml_models/*
/app_api/app_images/cloud_run_container_app_images/v1/ignored_ml_models/
