{% extends "login.html" %}
{% load static %}

{% block form_content %}
  <p class="text-center text-muted">
    📌 This section is not open-source — it's based on a purchased theme whose HTML markup remains proprietary and cannot be shared under open-source terms.
  </p>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const inputLoginPassword1 = document.getElementById('inputLoginPassword1');
      const inputLoginPassword2 = document.getElementById('inputLoginPassword2');
      const togglePassword1 = document.getElementById('togglePassword1');
      const togglePassword2 = document.getElementById('togglePassword2');
      const togglePasswordIcon1 = document.getElementById('togglePasswordIcon1');
      const togglePasswordIcon2 = document.getElementById('togglePasswordIcon2');

      togglePassword1.addEventListener('click', function (e) {
        e.preventDefault();

        if (inputLoginPassword1.type === 'password') {
          inputLoginPassword1.type = 'text';
          togglePasswordIcon1.classList.remove('bi-eye');
          togglePasswordIcon1.classList.add('bi-eye-slash');
        } else {
          inputLoginPassword1.type = 'password';
          togglePasswordIcon1.classList.remove('bi-eye-slash');
          togglePasswordIcon1.classList.add('bi-eye');
        }
      });

      togglePassword2.addEventListener('click', function (e) {
        e.preventDefault();

        if (inputLoginPassword2.type === 'password') {
          inputLoginPassword2.type = 'text';
          togglePasswordIcon2.classList.remove('bi-eye');
          togglePasswordIcon2.classList.add('bi-eye-slash');
        } else {
          inputLoginPassword2.type = 'password';
          togglePasswordIcon2.classList.remove('bi-eye-slash');
          togglePasswordIcon2.classList.add('bi-eye');
        }
      });

        var loginForm = document.getElementById('GeneralLoginForm');
        if (loginForm) {
            loginForm.addEventListener('submit', function (event) {
                event.preventDefault();
                console.log('Form submit event triggered');
                var formValid = true;

                var emailField = this.elements['email'];
                var errorEmailSpan = emailField.closest('.mb-3').querySelector('.invalid-feedback');
                var passwordField1 = this.elements['password1'];
                var passwordField2 = this.elements['password2'];
                var errorSpan1 = passwordField1.closest('.mb-3').querySelector('.invalid-feedback');
                var errorSpan2 = passwordField2.closest('.mb-3').querySelector('.invalid-feedback');

                var errorMessages = document.querySelectorAll('.invalid-feedback');
                  errorMessages.forEach(function (msg) {
                    msg.textContent = '';
                  });

                passwordField1.classList.remove('is-invalid');
                passwordField2.classList.remove('is-invalid');

                // Validate Email
                var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/;

                if (emailField.value.trim() === '' || !emailPattern.test(emailField.value)) {
                    formValid = false;
                    errorEmailSpan.textContent = 'Please enter a valid email address.';
                    errorEmailSpan.style.display = 'block';
                }

                var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9])[\S]{8,}$/;
                if (!passwordPattern.test(passwordField1.value)) {
                        formValid = false;
                        errorSpan1.textContent = 'Your password is invalid. Please try again.';
                        errorSpan1.style.display = 'block';
                    }

                    if (!passwordPattern.test(passwordField2.value)) {
                        formValid = false;
                        errorSpan2.textContent = 'Your password is invalid. Please try again.';
                        errorSpan2.style.display = 'block';
                    }

                    if (passwordField1.value !== passwordField2.value) {
                        formValid = false;
                        errorSpan2.textContent = 'Passwords do not match.';
                        errorSpan2.style.display = 'block';
                    }

                if (formValid) {
                    grecaptcha.enterprise.ready(function() {
                        console.log('grecaptcha ready');
                        grecaptcha.enterprise.execute('{{ recaptcha_public_key }}', {action: 'submit'}).then(function(token) {
                          var recaptchaTokenInput = document.createElement('input');
                          recaptchaTokenInput.setAttribute('type', 'hidden');
                          recaptchaTokenInput.setAttribute('name', 'g-recaptcha-response');
                          recaptchaTokenInput.setAttribute('value', token);
                          loginForm.appendChild(recaptchaTokenInput);
                          loginForm.submit();
                        }).catch(function(error) {
                          console.error('Error executing grecaptcha:');
                        });
                      });
            }

                if (!formValid) {
                    event.preventDefault();
                }
        });
        }
    });
</script>
{% endblock %}