{% extends "login.html" %}
{% load static %}

{% block form_content %}
  <p class="text-center text-muted">
    📌 This section is not open-source — it's based on a purchased theme whose HTML markup remains proprietary and cannot be shared under open-source terms.
  </p>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var loginForm = document.getElementById('GeneralLoginForm');
        if (loginForm) {
            loginForm.addEventListener('submit', function (event) {
                event.preventDefault();
                console.log('Form submit event triggered');
                var formValid = true;

                var emailField = this.elements['email'];
                var errorEmailSpan = emailField.closest('.mb-3').querySelector('.invalid-feedback');

                // Clear previous error messages
                var errorMessages = document.querySelectorAll('.error-message');
                errorMessages.forEach(function (msg) {
                    msg.style.display = 'none';
                });

                // Validate Email
                var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/;
                if (emailField.value.trim() === '' || !emailPattern.test(emailField.value)) {
                    formValid = false;
                    errorEmailSpan.textContent = 'Please enter a valid email address.';
                    errorEmailSpan.style.display = 'block';
                }

                if (formValid) {
                    grecaptcha.enterprise.ready(function() {
                        console.log('grecaptcha ready');
                        grecaptcha.enterprise.execute('{{ recaptcha_public_key }}', {action: 'submit'}).then(function(token) {
                          var recaptchaTokenInput = document.createElement('input');
                          recaptchaTokenInput.setAttribute('type', 'hidden');
                          recaptchaTokenInput.setAttribute('name', 'g-recaptcha-response');
                          recaptchaTokenInput.setAttribute('value', token);
                          loginForm.appendChild(recaptchaTokenInput);
                          loginForm.submit();
                        }).catch(function(error) {
                          console.error('Error executing grecaptcha:');
                        });
                      });
            }

                if (!formValid) {
                    event.preventDefault();
                }
        });
        }
    });
</script>
{% endblock %}